.spin {
   position: relative;
   margin: 0 auto;

   &_container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      position: relative;
   }

   &_block {
      padding-bottom: 2rem;
   }

   &_left,
   &_right {
      position: absolute;
      top: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &_left {
      left: 100px;
      transform: translate(0%, -50%);
   }

   &_right {
      right: 100px;
      transform: translate(0%, -50%);
   }

}