.holder {
   width: 240px;
   margin-bottom: 1rem;
}

.img {
   height: 360px;
   width: 100%;
   margin-bottom: 5px;
}

.title {
   margin-bottom: 3px;
   height: 25px;
}

.text {
   width: 60%;
   height: 16px;
}