body {
   background-color: #403F50;
   font-family: 'Jura', sans-serif;
   font-family: 'Lato', sans-serif;
   font-family: 'Nunito', sans-serif;
   font-family: 'PT Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
}

main {
   padding-top: 4rem;
}



.container-filmPage {
   max-width: 1200px;
   height: 100%;
   margin: 0 auto;
   padding: 0px 1rem;
}

.position-center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@media (min-width:1440px) {
   .container-filmPage {
      max-width: 1440px;
   }
}




.carousel-list {
   position: absolute;
   top: 0;
   display: flex;
   transition: right 0.6s;
   width: 100%;
}

@media screen and (max-width:768px) {
   .carousel-list {
      overflow-x: scroll;
   }
}

body {
   overflow-x: hidden;
}