.cardFilm {
   width: 240px;
   height: 100%;
   position: relative;
   margin-bottom: 1rem;

   &__img-block {
      position: relative;
      width: 100%;
      height: 360px;
   }

   &__img-darken {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.0);
      cursor: pointer;

      &:hover {
         background-color: rgba($color: #000000, $alpha: 0.2);
      }
   }

   &__img-item {
      z-index: 0;
      width: 100%;
      height: 100%;
   }

   &__rating {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      position: absolute;
      top: .5rem;
      left: .5rem;
      border: 3px solid #AD9945;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      background-color: #a191fa;
      overflow: hidden;
      //background-color: rgba($color: #1A181D, $alpha: .7);
   }

   &__info {
      margin-top: 5px;
      width: 100%;
      padding: 0;

      &-name {
         color: #fff;
         font-size: 18px;
         font-weight: 500;
      }

      &-list {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         width: 100%;
      }

      &-genres {
         font-size: 14px;
         line-height: 18px;
         color: #AD9945;
         margin-right: .5em;
      }
   }
}