.header {
   width: 100%;
   height: 4em;
   background-color: #42344A;
   position: fixed;
   z-index: 3;
   font-size: 1rem;

   &_block {
      width: 100%;
      max-width: 1400px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 15px;
   }

}



.search {
   &_form {
      padding: 0px 1rem;
   }

   &_input {
      width: 15rem;
      padding: 0.7rem 1rem;
      border: 5px solid #2D2BA9;

      &:focus {
         outline: none;
      }
   }

   &_btn {
      border: none;
      background-color: #2D2BA9;
      padding: 0.7px .5rem;
      height: 3rem;
   }
}


.search {
   width: 400px;
}


@media screen and (max-width:1366px) {}

@media screen and (max-width:1025px) {
   .header {
      font-size: 1.2rem;
   }
}

@media screen and (max-width:768px) {
   .header {
      font-size: 1.4rem;
   }
}

@media screen and (max-width:580px) {
   .header {
      font-size: 1.6rem;
   }
}

@media screen and (max-width:425px) {
   .header {
      font-size: 1.8rem;
   }
}

@media screen and (max-width:325px) {
   .header {
      font-size: 2rem;
   }
}