.card {
   width: 100%;
   height: 100%;
   position: relative;

   &__img_block {
      position: relative;
      width: 100%;
      padding-bottom: 150%;
   }

   &__img_darken {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.0);
      cursor: pointer;

      &:hover {
         background-color: rgba($color: #000000, $alpha: 0.2);
      }
   }

   &__img_item {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
   }

   &__rating {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      position: absolute;
      top: .5em;
      left: .5em;
      font-size: 1.2rem;
      border: 0.14em solid #AD9945;
      border-radius: 50%;
      width: 2.2em;
      height: 2.2em;
      background-color: #a191fa;
      overflow: hidden;
      font-weight: 600;
      //background-color: rgba($color: #1A181D, $alpha: .7);
   }

   &__info {
      margin-top: 5px;
      width: 100%;
      height: auto;
      padding: 0;
      font-size: 1rem;

      &_name {
         color: #fff;
         font-size: 1.2em;
         font-weight: 500;
      }

      &_list {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         width: 100%;
      }

      &_genres {
         font-size: .9em;
         line-height: 18px;
         color: #AD9945;
         margin-right: .5em;
      }
   }
}


@media screen and (max-width:1366px) {
   .card__info_name {}

   .card__info_genres {}
}

@media screen and (max-width:1025px) {
   .card__info_name {
      font-size: 1.5em;
   }

   .card__info_genres {
      font-size: 1.2em;

   }

   .card__rating {
      font-size: 2rem;
   }

   .card__rating {
      font-size: 1.5rem;
   }
}

@media screen and (max-width:580px) {
   .card__info_name {
      font-size: 2.5em;
   }

   .card__info_genres {
      font-size: 1.9em;

   }

   .card__rating {
      font-size: 3rem;
   }
}

@media screen and (max-width:425px) {}

@media screen and (max-width:325px) {
   .card__info_name {
      font-size: 4.5em;
   }

   .card__info_genres {
      font-size: 3.9em;

   }

   .card__rating {
      font-size: 5rem;
   }
}